<div class="container">
<h3>Witaj, oto twoja ulubiona strona z playlistami!</h3>
<div class="">

    <a class="btn btn-lg btn-outline-primary" href="/users/logowanie">Zaloguj</a>
    <a class="btn btn-lg btn-outline-primary" href="/users/rejestracja">Zarejestruj</a>

</div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>